# ignore list

.DS_Store
npm-debug.log

electron-packager/
locales/
dist/
node_modules/

# To change in the future
# gulp/config.js

# zip and files
SoundTouch-Chrome-Extension.zip
SoundTouch-Chrome-Extension